[submodule "decoders/flac"]
	path = decoders/flac
	url = https://github.com/astoeckel/libfoxenflac
[submodule "decoders/esp8266audio"]
	path = decoders/esp8266audio
	url = https://github.com/earlephilhower/ESP8266Audio
[submodule "decoders/tremor"]
	path = decoders/tremor
	url = https://github.com/pschatzmann/arduino-libvorbis-tremor
[submodule "decoders/libogg"]
	path = decoders/libogg
	url = https://github.com/xiph/ogg
